.chekout{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}
.checkout__ad{
    width: 100%;
    height: 218px;
    margin-bottom: 10px;
}
.chekout{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}
.chekout__left{
    width: 100%;
}